<!-- EverythingPizza - Group Project
     CIS-2284 - November/December 2018
     Group Members: Alix Field, Sharon Goodrich & Jonathan McPeak
     Page: Views/MyPizzaBlog/Index

     Sharon Goodrich - sgoodrich1@cnm.edu-->

@model IEnumerable<EverythingPizza.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h2>My Pizza Blog</h2>
@if (User.Identity.IsAuthenticated)
{

    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th class="doWhite">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="doWhite">
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="doWhite">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="doWhite">
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td class="doWhite">
                    <a asp-action="Details" asp-route-id="@item.PostID">Details</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <text>|</text>
                        <a asp-action="Edit" asp-route-id="@item.PostID"> | Edit</a>
                        <text>|</text>
                        <a asp-action="Delete" asp-route-id="@item.PostID"> | Delete</a>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>
